<div>
  <div class="container">
    <div class="row">
      <div class="col md-3">
        <h1 style="text-align: center">LOW</h1>
        <app-task-card *ngFor="let task of tasks.low" [task]="task"></app-task-card>
      </div>
      <div class="col md-3">
        <h1 style="text-align: center">MEDIUM</h1>
        <app-task-card *ngFor="let task of tasks.medium" [task]="task"></app-task-card>
      </div>
      <div class="col md-3">
        <h1 style="text-align: center">HIGH</h1>
        <app-task-card *ngFor="let task of tasks.high" [task]="task"></app-task-card>
      </div>
      <div class="col md-3">
        <h1 style="text-align: center">CRITICAL</h1>
        <app-task-card *ngFor="let task of tasks.critical" [task]="task"></app-task-card>
      </div>
    </div>
  </div>

  <app-task-create></app-task-create>
</div>
